.App {
  text-align: center;
  background-color: #FF3CAC;
  background-image: linear-gradient(50deg, #470077 0%, #0012b3 50%, #ca009e 100%);
  
}

.html{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow: hidden !important;
}

.greet{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
}

.app_form{
  padding: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: aliceblue;
  width: 99%;
  margin: 0;
  border-radius: 15px;
  

}

.app_formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app_input{
  flex: 1;
  
}

.app_iconButton{
  flex: 0;
}

.logo_image{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 10px 0;
  background-image: linear-gradient(to top, #022b2b00 0%, #c200e9 100%);
  flex-direction: row-reverse;
  margin-top: 0px;
}
.ac{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.ac_img{
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.205);
  

}

.logo_image h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

/* .sty_msg{
  max-height: 80vh;
  overflow: scroll;
} */ 


